<div class = "container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="http://udemy.com"> The complete Ruby on Rails Developer</a>
      by <a href="http:www.blabla.com/">Zhiwei Zhan</a>
    </small>
    <nav>
      <ul>
        <li> <%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>

</div>
